.resume {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  max-width: 1400px;
}

.resumeContent {
  display: flex;
  flex-direction: row;
}

.resumeContentLeft {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume-footer {
  display: flex;
}
